<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="info.sayederfanarefin.location_sharing">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera2.full" />


    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <activity
            android:name="info.sayederfanarefin.location_sharing.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >

            <meta-data
                android:name="io.fabric.ApiKey"
                android:value="08c75743459c301a67813feff0f0f6f233a8b936"
                />


            </activity>
        <activity
            android:name="info.sayederfanarefin.location_sharing.ui.FriendsListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Find Friends"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="info.sayederfanarefin.location_sharing.ui.ProfileActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"

            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="info.sayederfanarefin.location_sharing.MainActivity" >
                <!-- The meta-data element is needed for versions lower than 4.1 -->
                <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="info.sayederfanarefin.location_sharing.MainActivity" />
        </activity>

        <activity
            android:name="info.sayederfanarefin.location_sharing.ui.ProfileActivityFriend"
            android:configChanges="orientation|screenSize|keyboardHidden"

            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="info.sayederfanarefin.location_sharing.MainActivity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.sayederfanarefin.location_sharing.MainActivity" />
        </activity>

        <activity
            android:name="info.sayederfanarefin.location_sharing.authentication.LogInEmail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="info.sayederfanarefin.location_sharing.authentication.LoginPhone"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="info.sayederfanarefin.location_sharing.authentication.ForgotPassword"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="info.sayederfanarefin.location_sharing.ui.MusicSettings"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name="info.sayederfanarefin.location_sharing.ui.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="info.sayederfanarefin.location_sharing.ui.FirstScreen"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="info.sayederfanarefin.location_sharing.authentication.CreateProfile"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="info.sayederfanarefin.location_sharing.authentication.CreateProfileSmsSend"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="info.sayederfanarefin.location_sharing.authentication.InputName"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="info.sayederfanarefin.location_sharing.ui.AddFriendActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="info.sayederfanarefin.location_sharing.ui.Settings"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="info.sayederfanarefin.location_sharing.ui.NotificationActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="info.sayederfanarefin.location_sharing.NewChatActivity"
            android:label="@string/title_activity_chat_box2"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="info.sayederfanarefin.location_sharing.NewGroupChatActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="info.sayederfanarefin.location_sharing.ChatBox_"
            android:label="@string/title_activity_chat_box_"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="info.sayederfanarefin.location_sharing.EditMood"
            android:label="Edit Mood"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="info.sayederfanarefin.location_sharing.ui.QR_camera"
            android:label="QR"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="info.sayederfanarefin.location_sharing.ui.ReactActivity"
            android:label="React"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity
            android:name="info.sayederfanarefin.location_sharing.ui.My_QR"
            android:label="My QR Code"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="info.sayederfanarefin.location_sharing.ui.Friend_QR"
            android:label="User QR Code"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="info.sayederfanarefin.location_sharing.ui.My_phone"
            android:label="Registered Phone Number"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="info.sayederfanarefin.location_sharing.ui.ProfileActivity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.sayederfanarefin.location_sharing.ui.ProfileActivity" />
        </activity>
        <activity
            android:name="info.sayederfanarefin.location_sharing.ui.My_phone_change"
            android:label="Change Phone Number"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="info.sayederfanarefin.location_sharing.ui.ProfileActivity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.sayederfanarefin.location_sharing.ui.ProfileActivity" />
        </activity>
        <activity
            android:name="info.sayederfanarefin.location_sharing.ui.My_email_input"
            android:label="Change Phone Number"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="info.sayederfanarefin.location_sharing.ui.ProfileActivity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.sayederfanarefin.location_sharing.ui.ProfileActivity" />
        </activity>
        <activity
            android:name="info.sayederfanarefin.location_sharing.ui.My_id"
            android:label="My Id"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="info.sayederfanarefin.location_sharing.ui.ProfileActivity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.sayederfanarefin.location_sharing.ui.ProfileActivity" />
        </activity>
        <activity
            android:name="info.sayederfanarefin.location_sharing.authentication.LogInEmailChange"
            android:label="Change or Add Email"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="info.sayederfanarefin.location_sharing.ui.ProfileActivity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.sayederfanarefin.location_sharing.ui.ProfileActivity" />
        </activity>
        <activity
            android:name="info.sayederfanarefin.location_sharing.authentication.PasswordSet"
            android:label="Change or Add Email"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="info.sayederfanarefin.location_sharing.ui.ProfileActivity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.sayederfanarefin.location_sharing.ui.ProfileActivity" />
        </activity>
        <activity
            android:name="info.sayederfanarefin.location_sharing.authentication.ReLoginPhone"
            android:label="Re Log In"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            />

        <activity
            android:name="info.sayederfanarefin.location_sharing.ui.NewStatusActivity"
            android:label="New Status"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="info.sayederfanarefin.location_sharing.Timleline_showlikes"
            android:label="Likes"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="info.sayederfanarefin.location_sharing.ui.ViewImageActivity"
            android:label="View Image"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>
 <activity
            android:name="info.sayederfanarefin.location_sharing.Timleline_showComments"
            android:label="View Comments"
     android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
             android:parentActivityName="info.sayederfanarefin.location_sharing.MainActivity" >
             <!-- The meta-data element is needed for versions lower than 4.1 -->
             <meta-data
                 android:name="android.support.PARENT_ACTIVITY"
                 android:value="info.sayederfanarefin.location_sharing.MainActivity" />
         </activity>

        <activity
            android:name="info.sayederfanarefin.location_sharing.ui.POstIMageComment"
            android:label="View Comments"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="info.sayederfanarefin.location_sharing.MainActivity" >
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="info.sayederfanarefin.location_sharing.MainActivity" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="info.sayederfanarefin.location_sharing.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource"
                />
        </provider>


    </application>

</manifest>